@keyframes appear {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.25;
  }
  10% {
    opacity: 0.5;
  }
  15% {
    opacity: 0.75;
  }
  20% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
    75% {
        opacity: 0.85
    }
    80% {
        opacity: 0.75;   
    }
    85% {
        opacity: 0.5;
    }
    90% {
        opacity: 0.25;
    }
    95% {
        opacity: 0.1;
    }
  
  100% {
    opacity: 0;
  }
}
@keyframes vanish {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}



.welcome-header{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}

header {
    z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: auto;
  background: linear-gradient(to left,
      #5c5959,
      #333 50%,
      orange 75%
      /* #f3b7b7 75% */
    );
  color: #fff;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  animation-name: vanish;
  animation-duration: 15s;
  animation-fill-mode: forwards;
}

.logo {
  width: 10%;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-left: 5%;
}

.navList {
  list-style-type: none;
  display: flex;
}

.navList li {
  cursor: pointer;
  margin-right: 60px;
}

.navList li:hover {
  text-decoration: underline;
  color: #fff;
}

.welcome {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
  margin: 0px;
  justify-content: center;
}

.titleW {
  font-weight: bold;
  margin-left: 20px;
}

.titleW h1 {
  margin-top: 0px;
  justify-content: center;
}

.titleW p {
  font-weight: lighter;
  margin-top: 0px;
  justify-content: center;
}

.image {
  width: 100px;
  height: auto;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
}



.read-more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

input[type="checkbox"]:checked+.read-more-label+.read-more-content {
  max-height: 500px;
  /* Adjust the value based on your content */
}

.read-more-label {
  cursor: pointer;
  color: blue;
  display: block;
  margin-top: 10px;
}

.read-more-label:hover {
  text-decoration: underline;
}
.projects-container{
   width: 50%;
  height: 20px;
  width: auto;
  align-content: center;
}
.projects-container input{
  display: none;
}
.projects-container label{
  display: inline-flex;
 align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  width: 100px;
}
.projects-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.projects{
  display: none;
}

#project1:checked ~ .projects-content #project1,
#project2:checked ~ .projects-content #project2,
#project3:checked ~ .projects-content #project3,
#project4:checked ~ .projects-content #project4,
#project5:checked ~ .projects-content #project5{
  display: block;
}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.footer ul {
  display: flex;
  list-style-type: none;
}

.footer ul li {
  margin-right: 20px;
}